# requirements.txt
snowflake-snowpark-python
streamlit
# New section to display fruityvice nutrition information
import requests
fruityvice_response = requests.get ("https://fruityvice.com/api/fruit/watermelon"')
st. text(fruityvice_response.json())
